<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="spring.action.expend.aop"/>
    <!--如果使用注解的方式  必须开启注解-->
    <aop:aspectj-autoproxy>
        <!--指定使用某个切面-->
        <aop:include name="tracesRecordAdvisor"/>
    </aop:aspectj-autoproxy>

    <bean id="configAdvisor" class="spring.action.expend.aop.advisors.ConfigAdvisor"/>
    <aop:config>
        <aop:pointcut id="aop" expression="execution(* spring.action.expend.aop.services.*.*(..))"/>
        <aop:aspect ref="configAdvisor">
            <aop:before method="configBefore" pointcut-ref="aop"/>
            <aop:after method="configAfter" pointcut-ref="aop"/>
        </aop:aspect>
    </aop:config>
</beans>