<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd" profile="test">
    <bean id="yangsen" class="spring.action.expend.Consumer" lazy-init="true">
        <property name="adress" >
            <list>
                <value>10.0.0.1</value>
                <value>10.0.0.2</value>
            </list>
        </property>
    </bean>
<bean class="spring.action.expend.beanProcessors.MyBeanPostProcess" id="myBeanPostProcess"/>
</beans>