<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="bankPayService" class="spring.action.expend.aop.Introduction.BankPayServiceImpl"/>
    <bean id="bankPayServiceExtendAdvice" class="spring.action.expend.aop.Introduction.BankPayServiceExtendAdvice"/>
    <bean id="proxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>spring.action.expend.aop.Introduction.BankPayService</value>
        </property>
        <!--要创建代理的目标类对象-->
        <property name="target">
            <ref bean="bankPayService"/>
        </property>
        <!--拦截器集合-->
        <property name="interceptorNames">
            <list>
                <value>bankPayServiceExtendAdvice</value>
            </list>
        </property>
    </bean>
</beans>