<component name="ArtifactManager">
  <artifact type="war" name="spring.action.web:war">
    <output-path>$PROJECT_DIR$/spring-action-web/target</output-path>
    <root id="archive" name="spring.action.web.war">
      <element id="artifact" artifact-name="spring.action.web:war exploded" />
    </root>
  </artifact>
</component>