<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="sping.action.chapter6.controller"/>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"/>
    <!--<s:message> 使用配置-->
    <!--配置message资源加载器  在内部路径下加载 查找 messages.properties 配置文件-->
    <!--需要注意到点：-->
    <!--1.如果你使用eclipse创建的工程是class和src分开的，那么资源属性文件一定要放在src目录以内-->
    <!--2.属性文件名的写法：-->
    <!--messages_zh_CN.properties  (中文)（也可以省略_zh_CH后缀，写成messages.properties）-->
    <!--messages_en_US.properties  （英文）-->
    <!--3.bean的id一定是messageSource不是messageResource ,这是Spring规定的。-->
    <!--4.因为Spring从classpath根路径下加载这些资源文件，所以这些文件应该放在根路径下。如果资源文件messages
          .properties不是在根路径下而在包com.test.msgs下的话，value标签的值就应该是这样的：-->
    <!--<value>com.test.msgs.messages</value>-->
    <!--注：Java JDK的标准 ResourceBundle 将点（.）视为包分隔符，这也意味着"test.theme" 等同于 "test/theme".-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>
    <!--在文件系统中查找  不限于应用内了-->
    <!--<bean id="messageSource"  class="org.springframework.context.support.ReloadableResourceBundleMessageSource">-->
    <!--<property name="basename" value="D:\messages"/>-->
    <!--<property name="cacheSeconds" value="10"/>-->
    <!--</bean>-->
    <!--Apache Tiles视图定义-->
    <!--配置视图解析-->
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/layout/tiles/tiles.xml</value>
                <value>/WEB-INF/views/**/tiles.xml</value>
            </list>
        </property>
        <!--开启高级特性-->
        <!--<property name="completeAutoload" value="true"/>-->
    </bean>

</beans>